.ext-cling-window {
	position: fixed;
	left: 8px;
	top: 8px;
	/* Retains youtube's aspect ratio for videos. */
	width: 384px;
	height: 216px;
	background: black;

	border: 1px solid #F44336;
	box-shadow: 0px 0px 16px #222;

	z-index: 1999999998; /* One less the the youtube App Bar */
}

.ext-cling-window-hidden {
	display: none;
}

.ext-cling-window > video.video-stream.html5-main-video {
	width: 100% !important;
	height: 100% !important;
}

